<mat-toolbar>
  <mat-toolbar-row>
    <span>Blog</span>
    <span class="example-spacer"></span>
    <button mat-flat-button
      routerLink="admin">
      Admin
    </button>
    <button mat-flat-button
      routerLink="users">
      Users
    </button>
    <mat-form-field name="loginRegisterDropdown">
      <mat-select placeholder="Login"
        (selectionChange)="navigate($event.value)">
        <mat-option *ngFor="let option of options"
          [value]="option.link">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>